@font-face {
    font-family: 'Poppins';
    src: url('/src/Poppins-Medium.ttf');
}
*{
    margin: 0;
    padding: 0;
}
.main-cont{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(150px,auto);
    justify-items: center;
    align-items: center;
}
.btn-cont{
    grid-column: 3/11;
}
.result{
    grid-row-start: 2;
    grid-column: 2/12;
    width: 100%;
}
input{
    width: 200px;
    height: 50px;
    margin:20px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px 0.5px rgb(0,0,0,0.2);
    border: none;
    background-color: #4990b5;
    color: white;
    font-family: 'Poppins';
    font-size: 2.5vmin;
}
input:hover{
    cursor:pointer;
    background-color: #5cb4e3;
    color: black;
}
.logout{
    font-family: 'Poppins';
    box-shadow: none;
    background-color: none;
    font-size: 2.5vmin;
}
.logout:hover{
    color: none;
    background-color: #4990b5;
}
.product-cont{
    border-collapse: collapse;
    font-family: 'Poppins';
    font-size: 2vmin;
    text-align: center;
}
th{
    background-color: #4990b5;
    color:white;
}
th, td{
    padding:10px;
    border-right: 2px solid rgb(225, 225, 225);
}
td{
    background-color: rgb(217, 240, 248);
}
table{
    width: 100%;
}
#add,#edit,#view,#delete{
    float: right;
    background-color: white;
    box-shadow: none;
    max-width: 30px;
    height: auto;
}