*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
}
.mainfooter{
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(150px,auto);
}
.credits{
    grid-column: 2/4;
    align-self: center;
    justify-self: center;
}
p{
    padding: 20px;
    font-family: 'Poppins';
    font-size: 2vmin;
}