@font-face {
    src: url(/src/Poppins-Medium.ttf);
    font-family: 'Poppins';
}

*{
    margin:0;
    box-sizing: border-box;
}
.mainhead{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(150px,auto);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-items: center;
}
.logo{
    grid-column: 2/4;
    justify-self: center;
}
.logo #logotext{
    font-size: 5vmin;
}
.option{
    grid-column: 5/10;
    justify-self: baseline;
}
.option ul{
    list-style-type: none;
}
.option2{
    grid-column: 10/11;
}
.option2 img{
    max-width: 70px;
}
.profile img{
    max-width: 80px;
}
.profile{
    grid-column: 11/12;
}
#logotext{
    font-family: 'Montserrat Alternates', sans-serif;
    color:#4990b5;
}
a{
    font-family: 'Poppins';
    font-size: 3.5vmin;
    color: #4990b5;
    text-decoration: none;
    display: inline;
    margin-left: 30px;
    
}
a:hover{
    color:#000000;
    cursor: pointer;
}
button{
    border: none;
    background: none;
}
button:hover{
    color:black;
    transition: 0.05ms;
    cursor:pointer;
}