@font-face {
    src: url(/src/Poppins-Medium.ttf);
    font-family: 'Poppins';
}

*{
    margin:0;
    box-sizing: border-box;
}
.mainhead{
    background-color:#4990b5;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(80px,auto);
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
    border: 0.5px solid rgba(0,0,0,0.2);
    align-items: center;
    justify-items: center;
}
.logo{
    grid-column: 1/3;
    justify-self: center;
}
.logo #logotext{
    font-size: 5vmin;
}
#logotext{
    font-family: 'Montserrat Alternates', sans-serif;
    color:white;
}
.option{
    width: 100%;
    grid-column: 4/11;
}
.login{
    
    grid-column: 11/12;
}
a{
    font-family: 'Poppins';
    font-size: 3vmin;
    color: white;
    text-decoration: none;
    display:inline;
    margin-left: 50px;
    
}
a:hover{
    color:black;
    cursor: pointer;
}

