*{
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}
@font-face {
    font-family: Poppins;
    src: url(/src/Poppins-Medium.ttf);
}
.maincont{
    margin-top: 50px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(150px,auto);
    row-gap: 50px;
}
.buyer{
    grid-column: 9/12;
}

.content1{
    grid-column:5/9;
    grid-row-start: 1;
    align-self: center;

}
.maincont img{
    max-width: 250px;
}
.seller{
    grid-column: 3/6;
    grid-row: 2/3;
    justify-self: left;
}

.content2{
    grid-column: 5/9;
    grid-row-start: 2;
    align-self: center;
}
.content1 h1{
    font-family: 'Poppins';
    font-size: 7vmin;
    text-align: right;
}
.content1 p{
    font-size: 2.5vmin;
    font-family: 'Poppins';
    text-align: right;
    font-style: italic;
}
.content2 p{
    font-size: 2.5vmin;
    font-family: 'Poppins';
    text-align: left;
    font-style: italic;
}
.content2 h1{
    font-family: 'Poppins';
    font-size: 7vmin;
    text-align: left;
}
.content1 form{
    width: 100%;
    padding:10px;
    text-align: right;
}
.content2 form{
    width: 100%;
    padding:10px;
    text-align: left;
}
input{
    width:50%;
    height: 50px;
    border-radius: 50px;
    border-style:hidden;
    box-shadow: 2px 2.5px 5px 0.01px rgb(78, 77, 77);
    background-color: #4990b5;
    color: white;
    font-family: 'Poppins';
    font-size: 3vmin;
    font-weight:600;
}
input:hover{
    background-color: #000000;
    cursor:pointer;
}